// Responsive Variables
$xxl: "only screen and (max-width: 1399px)";
$xl: "only screen and (max-width: 1100px)";
$lg: "only screen and (max-width: 991px)";
$md: "only screen and (max-width: 767px)";
$sm: "only screen and (max-width: 575px)";
$mb: "only screen and (max-width: 360px)";

 
