:root {
    --theme-color: #262b62; 
    --theme-color-light: #2f346f; 
    --secondary-color: #db4746; 
    --black: #000000;
    --white: #ffffff;

    --grey-color: #f6f6f6;
    --grey-color-2: #f6f6f6;
    --grey-color-3: #f6f6f6;
    --grey-color-4: #474747;
}