@use "../../utils" as *;

/* footer section */
.footer_section {
  background: var(--theme-color-light);
  padding: 110px 0 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  & .logo img {
    width: 100%;
    @media #{$sm} {
      width: 80%;
    }
  }
  & .footer-widget-1 {
    & p {
      font-weight: 400;
      font-size: 13px;
      color: #ffffff;
      line-height: 26px;
      margin-top: 10px;
      @media #{$md} {
        text-align: center;
      }
    }
    .footer_menu {
      display: flex;
      padding: 0;
      margin: 0;
      margin-top: 20px;
      @media #{$md} {
        justify-content: center;
      }
      & li {
        margin-right: 16px;
        list-style: none;

        & a {
          color: #ffffff;
          font-size: 20px;
        }
      }
    }
  }

  & .widget_title {
    font-family: var(--fonts-poppins);
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 20px;

    @media #{$md} {
      margin-top: 30px;
      text-align: center;
    }
  }

  & .widget_menu li {
    list-style: none;
    @media #{$md} {
        text-align: center;
      }
    & a {
      font-family: "Poppins", Sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 24px;
      margin-bottom: 20px;
      display: block;

      &:hover {
        color: #ff004c;
      }
      & i {
        margin-right: 14px;
      }
    }
  }
  & .footer-widget-2 {
    & p {
      font-weight: 400;
      font-size: 13px;
      color: #ffffff;
      line-height: 26px;
      margin-top: 10px;
      @media #{$md} {
        text-align: center;
      }
    }
  }
}
